body 

{
    background-color: #d0d4d4;
    font-family: Sans-serif;
    margin: 0;
}
#navbanner {
    background-color: #5f7a6b;
    color: black;
    margin: 0;  
}
#navbar {
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar ul li {
    list-style: none;
    display: inline-block;
  
}
#navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 16px;
    position: relative;
    
}
#navbar a:hover {
    background-color: #66b032;
}
#logo{
    width:50px;
    height:50px;
    padding: 10px 0;
    align-items: center;
}
#bannerimage{
    width: 100%;
    height: 30%;
    display: block;
}
#imageslider {
   width: 100%;
   display: block;
   text-align:center;  
   
}
#webtitle{
   text-align:center;
   width:100%; 
   position: absolute;
   top: 35%;
   color: white;
   text-transform: uppercase;
   Text-shadow: 2px 2px black;
   font-size:75px;
}
#content {
    padding: 40px;
    height: 100%;
    margin: 20px;
}
#goal {
    text-align: center;
    width: 100%;
    color: #2f3e46;
    font-size: 21px;
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  font-family: Sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a9ba9d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
svg {
    padding: 50px 50px;
}

h2 {
    color: grey;
    text-align: center;
}

button {
    background-color: #5f7a6b; /* Green */
    color: white;
}

.sep {
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 1px;  
    background-color: #e6e8e8;
    padding: 30px 10px;
}

h3 {
    color: #5f7a6b;
    text-align: center;
}


.dropdown-content a:hover {background-color: #8db600;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #66b032;}



    
    
    

    
    
    
    
    
    
   