body {
    background-color: #d0d4d4;
    font-family: Sans-serif;
    margin: 0;
}
#navbanner {
    background-color: #5f7a6b;
    color: black;
    margin: 0;  
}
#navbar {
    width: 90%;
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
#navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
#logo{
    width:50px;
    height:50px;
    padding: 10px 0;
    align-items: center;
}
#bannerimage{
    width: 100%;
    height: 30%;
    display: block;
}
#imageslider {
   width: 100%;
   display: block;
   text-align:center;  
   
}
#webtitle{
   text-align:center;
   width:100%; 
   position: absolute;
   top: 35%;
   color: white;
   text-transform: uppercase;
   Text-shadow: 2px 2px black;
   font-size:75px;
}
#content {
    padding: 40px;
    height: 100%;
    margin: 20px;
}
#goal {
    text-align: center;
    width: 100%;
    color: #2f3e46;
    font-size: 21px;
}

    
    
    

    
    
    
    
    
    
   